<!-- <div ng-include="'components/navbar/navbar.html'"></div> -->

<header class="fb-bar">
</header>
<div class="container">
  <nav class="navbar">
    <ul class="nav navbar-nav">
      <li  ng-repeat="category in categories"><a class="category-selector" href="#" ng-click="changeCurrentCategory(category);">{{category}}</a></li>
      <!-- <li><a href="#">Local News</a></li>
      <li><a href="#">Sports</a></li>
      <li><a href="#">Others</a></li> -->
    </ul>
  </nav>
</div>
<div class="container">
  <packery class="col-lg-12" gutter="10" column-width="0" row-height="0" ng-repeat="category in categories" ng-if="category == currentCategory">

    <packery-object class="item-lg" ng-repeat="post in categoryPosts[category]" ng-class="post.importance == 1 ? 'item-sm' : (post.importance == 2 ? 'item-md' : 'item-lg')" >
      <section class="item-container">
        <img src="{{post.picture}}" />
        <h1>{{post.name}}</h1>
        <p>{{post.description}}</p>
      </section>
    </packery-object>

  </packery>
<div>

  <a href="/auth/facebook">Auth</a>