body {
    background-color: #FFFFFF;
    /*background-color: #E9EAED;*/
}

.fb-bar {
    background-color: #4860A2;
    height: 42px;
}

.navbar { margin-bottom: 0; }
.navbar-nav > li > a:link,
.navbar-nav > li > a:visited {
    font: bold 12px/1.3em 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333333;
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a:active {
    color: #4860A2;
}

.packery-sizer, .packery-object {
    background-color: #FFFFFF;
    /*border: 1px #D0D1D5 solid;*/
    /*border-radius: 3px;*/
    width: 360px;
}

.item-lg {
    width: 530px;
}

.item-md {
    width: 250px;
}

.item-sm {
    width: 170px;
}

.item-container {
    margin: 5px;
}

.item-container h1 {
    font: 21px/1.3em 'Georgia', 'Times New Roman', Times, serif;
}

.item-container p {
    font: 13px/1.3em 'Georgia', 'Times New Roman', Times, serif;
}