body {
    background-color: #E9EAED;
}

.fb-bar {
    background-color: #4860A2;
    height: 42px;
}

.navbar-nav > li > a:link,
.navbar-nav > li > a:visited {
    font: bold 12px/1.3em 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333333;
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a:active {
    color: #4860A2;
}

.packery-sizer, .packery-object {
    background-color: #FFFFFF;
    border: 1px black solid;
  width: 360px;
  height: 500px;
}