body {
    /*background-color: #FFFFFF;*/
    /*background-color: #E9EAED;*/
}

.fb-bar {
    background-color: rgb(59,89,153);
    height: 42px;
}

.navbar { margin-bottom: 0; }
.navbar-nav > li > a,
.navbar-nav > li > a:link,
.navbar-nav > li > a:visited {
    font: bold 13px/1.3em 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #141823;
    background: #fff;
    outline: 0;
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a:active {
    color: #141823;
    background: #fff;
}

.packery-sizer, .packery-object {
    background-color: #FFFFFF;
    /*border: 1px #D0D1D5 solid;*/
    /*border-radius: 3px;*/
    width: 360px;
}

.item-lg {
    width: 530px;
}

.item-md {
    width: 250px;
}

.item-sm {
    width: 170px;
}

.item-container {
    margin: 5px;
    word-wrap: break-word;
}

.item-container h1 {
    margin-bottom: 0;
    font: 21px/1.3em 'Georgia', 'Times New Roman', Times, serif;
}

.item-container h2 {
    margin-top: 5px;
    font: 13px/1.3em 'Georgia', 'Times New Roman', Times, serif;
    color:#9197A3;
}

.item-container p {
    font: 13px/1.3em 'Georgia', 'Times New Roman', Times, serif;
}

.item-container .poster-pic {
    width: 32px;
    height: auto;
}

.item-container > img {
    width: 100%;
    height: auto;
}

.header-content {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    display: table;
}

#thumbnail {
    width: 32px;
    height: 32px;
    border-radius: 3px;
    display: inline-block;
    vertical-align: top;
    background-size:contain !important;
    margin-top: 5px;
    margin-left: 800px;
}

#user-name {
    width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
    margin-left: 50px;
    color: #fff;
}

.poster-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-size: contain !important;
    display: inline-block;
    vertical-align: middle;
}